.collection-item {
  width: 22%;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  height: 37vh;
  align-items: center;
  margin-bottom: 30px;
  margin-right: 20px;
  position: relative;
  @media only screen and (max-width: 356px) {
    width: 70%;
  }
  @media only screen and (min-width: 425px) and (max-width: 525px) {
    width: 45%;
  }

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .custom-button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    bottom: 40px;
    display: none;
  }

  &:hover {
    .image {
      opacity: 0.8;
    }

    .custom-button {
      opacity: 0.85;
      display: flex;
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 15px;
      margin-left: 5px;
    }

    .price {
      width: 10%;
      text-align: right;
      margin-right: 5px;
    }
  }
}
